
.swiper-slide{
  max-width: 279px;
  margin-right: 0px;
}
.swiper-wrapper{
  display: flex ;
  gap: 16px;
}


@media only screen and (max-width: 1024px) {
  .swiper-slide{
    max-width: 252px;
    margin-right: 0px;
  }
}

.scroll-control::-webkit-scrollbar{
  display: none;
}